* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.inner {
  display: flex;
  justify-content: space-between;
}

.btn {
  display: block;
  outline: none;
  border: none;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all .4s ease-in-out;
}
.btn:hover {
  transform: scale(1.1);
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 0;
}

.task {
  width: 100%;
  background-color: #cecece;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task .task-name, 
.task .task-date {
  padding: 5px 0;
}

.task .delete {
  font-size: .9rem;
  color: hsl(0, 63%, 71%);
  cursor: pointer;
}

.reminder {
  background-color: green;
  color: #fff;
}

.form-control {
  width: 100%;
  margin-bottom: 10px;
}

.form-control input {
  display: block;
}
.form-control input:not([type="checkbox"]) {
  width: 100%;
  padding: 10px;
}